<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>OTP for Password Reset</h1>
    <p>Your OTP for password reset is: <%= @otp %></p>
    <p>Please enter this OTP to reset your password.</p>
  </body>
</html>
