<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966756961299-p78mb5p3khd3kec4663smltv0t2b85it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966756961299-p78mb5p3khd3kec4663smltv0t2b85it</string>
	<key>API_KEY</key>
	<string>AIzaSyBphgeN_WZCO_MOw4sbTdlaHJu7kawmZco</string>
	<key>GCM_SENDER_ID</key>
	<string>966756961299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chicmic.rideshareapp</string>
	<key>PROJECT_ID</key>
	<string>ride-share-app-e5071</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-share-app-e5071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966756961299:ios:d72be04807a646676283e6</string>
</dict>
</plist>